<!DOCTYPE html>
<title>CRUD with Flask</title>
<body>
  
    <div style="margin-left: 30%; margin-top:50pt;margin-right: 30%; background-color: grey; ">
      <h3>Add user</h3><hr>
      <form method='post'  enctype = "multipart/form-data">
        {% csrf_token %}
        <div>
          <label>User Name </label>
          <input type='text' name='uname' required>
        </div>
        <div>
          <label>Birth Date</label>
          <input type='date' name='bday' required>
        </div>
        <div>
          <label>Gender</label>
          <input type='radio' id='male' name='gender' value='Male'>
          <label for="male"> Male </label>
          <input type='radio' id='female' name='gender' value='Female'>
          <label for="female"> Female </label>
        </div>
        <div>
          <label>Position</label>
          <select name="position" id="position">
            <option value="">-select-</option>
            <option value="Python">Python</option>
            <option value="React">React</option>
            <option value="Java">Java</option>
            <option value="AWS">AWS</option>
          </select>
        </div>
        <div>
          <label>Age</label>
          <input type="number" id="age" name="age">
        </div>
        <div>
          <label>Hobby</label><br>
          <input type="checkbox" id="hobby1" name="hobby" value="Movie">
          <label for="hobby1"> Movie</label><br>
          <input type="checkbox" id="hobby2" name="hobby" value="Songs">
          <label for="hobby2"> Songs</label><br>
          <input type="checkbox" id="hobby3" name="hobby" value="Travel">
          <label for="hobby3"> Travel</label>
        </div>
        <div>
          <label>Image</label>
          <input type="file" name="image" >
        </div>
        <div>
          <label>Address</label>
          <input type='text' name='address' required>
        </div>  
        <hr>
        <input type='submit' value='Submit'>
      </form>
    
    </div>
  
</body>
</html>